---
import Section from '../section.astro';

const teamMembers = [
  {
    name: 'Shikshita Juyal',
    role: 'Co-founder',
    company: 'CREWORK',
    img: '/team/shikshita.png',
    companyLogo: '/logos/crework.png',
    linkedin: '#'
  },
  {
    name: 'Herumb Shandilya',
    role: 'Data Science Partner',
    company: 'STANFORD',
    img: '/team/herumb.png',
    companyLogo: '/logos/standford.png',
    linkedin: '#'
  },
  {
    name: 'Tharun Chowary',
    role: 'Tech Partner',
    company: 'AMAZON',
    img: '/team/tharun.png',
    companyLogo: '/logos/amazon.png',
    linkedin: '#'
  },
  {
    name: 'Dinkar Juyal',
    role: 'Data Science Partner',
    company: 'UC BERKELEY',
    img: '/team/dinkar.png',
    companyLogo: '/logos/UCBerkley.png',
    linkedin: '#'
  },
  {
    name: 'Nikhil Joshi',
    role: 'Design Partner',
    company: 'DIGITAL JALEBI',
    img: '/team/nikhil.png',
    companyLogo: '/logos/digitaljalebi.png',
    linkedin: '#'
  },
  {
    name: 'Ishan Dutta',
    role: 'ML Partner',
    company: 'ADOBE',
    img: '/team/ishan.png',
    companyLogo: '/logos/adobe.png',
    linkedin: '#'
  },
  {
    name: 'Shweta Roy',
    role: 'Design Partner',
    company: 'DAIMLER',
    img: '/team/shweta.png',
    companyLogo: '/logos/daimler.png',
    linkedin: '#'
  },
  {
    name: 'Dushyant Singh',
    role: 'Tech Partner',
    company: 'SPRINGWORKS',
    img: '/team/dushyant.png',
    companyLogo: '/logos/springworks.png',
    linkedin: '#'
  },
  {
    name: 'Mitali Laroia',
    role: 'Design Partner',
    company: 'JPMC',
    img: '/team/mitali.png',
    companyLogo: '/logos/jpmc.png',
    linkedin: '#'
  }
];

---

<Section id="meet-the-team" data-section="meet-the-team">
  <div class="w-full max-w-6xl mx-auto px-4 ">
    <div class="text-center mb-12">
      <h2 class="text-5xl font-bold text-[#464646] mb-6">Meet the Team</h2>
      <p class="text-gray-600">We're a passionate and talented team.</p>
      <p class="text-gray-600">We work flexibly and remotely, and we love what we do.</p>
    </div>

    <div id="team-grid" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {teamMembers.map((member, index) => (
        <div class={`team-member bg-[#fcfbfb] rounded-2xl p-6 shadow-md border-grey-200 border hover:shadow-lg transition-shadow ${index >= 6 ? 'hidden' : ''}`}>
          <div class="mb-4">
            <div class="flex justify-between items-center">
              <h3 class="font-medium text-xl text-gray-900">{member.name}</h3>
              <img 
                src={member.companyLogo} 
                alt={member.company}
                class="h-10 border shadow-md rounded-xl w-auto object-contain"
              />
            </div>
          </div>
          
          <div class="flex justify-center mb-4">
            <div class="w-36 h-36 rounded-full overflow-hidden bg-gray-50">
              <img
                src={member.img}
                alt={member.name}
                class="w-full h-full object-cover bg-custom-radial"
              />
            </div>
          </div>
          
          <div class="flex justify-between items-center">
            <div class="flex flex-col">
              <p class="text-gray-700 text-lg font-medium">{member.role}</p>
              <p class="text-gray-500 text-md mt-0.5">{member.company}</p>
            </div>
            <a 
              href={member.linkedin}
              target="_blank"
              rel="noopener noreferrer"
              class="flex-shrink-0"
            >
              <img
                src="/icons/linkedin.svg"
                alt="LinkedIn"
                class="w-8 h-8 rounded-full opacity-80 hover:opacity-100 transition-opacity"
              />
            </a>
          </div>
        </div>
      ))}
    </div>
    <div class="text-center mt-8">
      <button id="toggleButton" class="btn w-fit text-white px-5 py-2 rounded-xl ">
        More
      </button>
    </div>
  </div>
</Section>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const teamGrid = document.getElementById('team-grid');
    const toggleButton = document.getElementById('toggleButton');
    const teamMembers = teamGrid.querySelectorAll('.team-member');

    let isExpanded = false;

    toggleButton.addEventListener('click', () => {
      isExpanded = !isExpanded;
      teamMembers.forEach((member, index) => {
        if (index >= 6) {
          member.classList.toggle('hidden');
        }
      });

      toggleButton.textContent = isExpanded ? 'Show Less' : 'More';
    });
  });
</script>