---
import { Image } from 'astro:assets';

const { images, title, description, span, tags, link, rtl, sticky, index, length } = Astro.props;
---

<div
  style={{
    '--scale': `calc(0.8 + ${((index + 1) / length) * 0.2})`,
    '--top': `calc(16vh)`,
    '--card-scroll': `calc((var(--scroll) * ${length}) - ${index})`,
    '--z-index': `${index + 1}`,
    animationDelay: `calc(var(--card-scroll) * -1s)`,
  }}
  class:list={[
    'case-studies-container relative origin-top overflow-hidden bg-white',
    {
      'flex-col md:flex-row-reverse': rtl,
      'top-[var(--top)] md:sticky md:animate-scaledown': sticky,
      'z-[var(--z-index)]': sticky,
    },
  ]}
>
  <div class="-mb-2 flex-1 space-y-12">
    <div class="aspect-video">
      <Image
        class="h-full w-full rounded-xl border object-cover object-top"
        src={images[0].src}
        alt={images[0].alt}
        width={800}
        height={450}
      />
    </div>
    <div class="aspect-[16/8]">
      <Image
        class="h-full w-full rounded-xl border object-cover object-top"
        src={images[1].src}
        alt={images[1].alt}
        width={800}
        height={450}
      />
    </div>
  </div>
  <div class="relative flex-1 space-y-6">
    <h2 class="text-2xl font-semibold text-[#020617] sm:text-3xl">
      {title}
    </h2>
    <p>{description}</p>
    <div class="flex w-fit space-x-1 rounded-full bg-[#EEF5F0] px-2 py-1 text-xs text-[#589E67]">
      <Image
        class="inline-block h-4 w-4"
        src="/icons/trend-up.svg"
        alt="Arrow Up"
        width={16}
        height={16}
      />
      <span class="line-clamp-1 text-[clamp(0px,2.5vw,12px)]">{span}</span>
    </div>
    <div class="space-y-4">
      {
        tags.map((item) => (
          <div class="w-fit rounded-full border border-[#CFCFCF] px-3 py-[0.3rem] text-[clamp(10px,3vw,12px)] shadow-[0px_0px_10px_0px_#00000012] sm:text-sm">
            {item}
          </div>
        ))
      }
    </div>
    <a
      href={link}
      class="bottom-5 flex cursor-pointer items-center gap-0 py-4 font-semibold transition-all hover:gap-1"
    >
      <span>View Project</span>
      <Image
        class="inline-block size-6"
        src="/icons/arrow-right.svg"
        alt="Arrow Right"
        width={16}
        height={16}
      />
    </a>
  </div>
</div>
