---
import { Image } from 'astro:assets';
const { companyName, designation, photo, country, testimonialText, personName } = Astro.props;
const countryToFlag = {
  India: '/flags/india.svg',
  Palestine: '/flags/palestine.svg',
  Spain: '/flags/spain.svg',
  Israel: '/flags/israel.svg',
  USA: '/flags/usa.svg',
};
---

<div class="inline-block w-[20rem] px-4 sm:w-[30rem]">
  <div class="flex flex-col space-y-3 rounded-xl border p-3 sm:p-6">
    <div class="flex items-center justify-between gap-1">
      <div class="flex items-center gap-2 sm:gap-4">
        {
          photo ? (
            <Image
              class="size-6 rounded-full object-cover sm:size-12"
              src={photo}
              alt={personName}
              width={40}
              height={40}
            />
          ) : null
        }
        <div class="flex flex-col">
          <h4 class="text-sm font-semibold sm:text-lg">{personName}</h4>
          <p class="text-xs sm:text-sm">{`${designation} @${companyName}`}</p>
        </div>
      </div>
      <Image
        class="size-6 rounded-sm object-contain sm:w-8"
        src={countryToFlag[country] || '/social/twitter-bird.svg'}
        alt="Twitter"
        width={24}
        height={24}
      />
    </div>
    <p class="line-clamp-3 h-12 text-wrap text-xs sm:h-16 sm:text-sm">
      {testimonialText}
    </p>
  </div>
</div>
