---
// utils imports
import { Image } from 'astro:assets';
import { formatDate } from 'date-fns';

const {
  data: { blogTitle, blogAuthor, blogDate, blogImage },
} = Astro.props;
---

<header class="space-y-4">
  <div class="space-y-4">
    <h1 class="font-semibold">{blogTitle}</h1>
    <div class="flex items-center gap-3">
      <Image
        src={blogAuthor.image}
        alt={blogAuthor.author}
        width="40"
        height="40"
        format="avif"
        quality={80}
        class="size-10 rounded-full"
      />
      <div>
        <h6 class="text-black">By <span>{blogAuthor.author}</span></h6>
        <p class="text-sm text-[#686868]">
          {blogDate ? formatDate(blogDate, 'MMMM dd, yyyy') : null}
        </p>
      </div>
    </div>
  </div>
  <Image
    src={blogImage.src}
    alt={blogImage.alt}
    width="1200"
    height="600"
    format="avif"
    quality={80}
    class:list={['w-full', 'h-auto']}
  />
</header>
