---
import MainLayout from '@/layouts/main-layout.astro';
import BlogHeader from '@/components/blog/blog-header.astro';
import Section from '@/components/section.astro';
import TOC from '@/components/blog/TOC.astro';
import { socials, getSocialShareLinks, BLOG_CATEGORIES_MAP } from '@/constants';
import { Image } from 'astro:assets';
import TalkToUs from '@/components/talk-to-us.astro';
import { getCollection } from 'astro:content';
import BlogCard from '@/components/blog/blog-card';
import BtnClipBoard from '@/components/blog/btn-clipboard';
import { cn } from '@/lib/utils';

const { blogData } = Astro.props;
const {
  data: { blogTitle, blogDescription, blogCategories, blogImage, mainCategory },
  headings,
  slug,
  reading_time,
} = blogData;

const url = Astro.url.href;

const blogs = await getCollection('blogs', ({ data }) => {
  return data.draft !== true;
});
const currentBlogCategories = blogCategories || [];
const rds = blogs.filter(({ data, slug: blogSlug }) => {
  const blogCategoriesArray = data.blogCategories || [];
  const isSameCategory =
    currentBlogCategories.length > 0 &&
    blogCategoriesArray.length > 0 &&
    blogCategoriesArray.some((category: any) => currentBlogCategories.includes(category));
  return isSameCategory && blogSlug !== slug;
});
const recommendations =
  rds.length >= 2
    ? rds.slice(0, 2)
    : blogs.filter(({ slug: blogSlug }) => slug !== blogSlug).slice(0, 2);
    
const schema = {
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": blogTitle,
  "image": blogImage?.src ? new URL(blogImage.src, Astro.site).href : new URL('/opengraph.png', Astro.site).href,
  "datePublished": blogData.data.blogDate,
  "author": {
    "@type": "Person",
    "name": blogData.data.blogAuthor?.author || "Crework Labs"
  }
};

const breadcrumbSchema = {
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "https://creworklabs.com"
    },
    {
      "@type": "ListItem",
      "position": 2,
      "name": "Blog",
      "item": "https://creworklabs.com/blog"
    },
    {
      "@type": "ListItem",
      "position": 3,
      "name": mainCategory,
      "item": `https://creworklabs.com/category/${BLOG_CATEGORIES_MAP.find((cat) => cat.name === mainCategory)?.tag}`
    },
    {
      "@type": "ListItem",
      "position": 4,
      "name": blogTitle,
      "item": `https://creworklabs.com/blog/${slug}`
    }
  ]
};
---

<MainLayout
  title={blogTitle}
  description={blogDescription}
  canonical={`https://creworklabs.com/blog/${slug}`}
  og_image={blogImage?.src || '/opengraph.png'}
>
  <script type="application/ld+json" set:html={JSON.stringify(schema)} slot="head"></script>
  <script type="application/ld+json" set:html={JSON.stringify(breadcrumbSchema)} slot="head"></script>
  <Section className="border-b-0">
    <BlogHeader {...{ ...blogData, reading_time, breadcrumbSchema }} slug={slug} />
    <div class="flex flex-col-reverse gap-12 mt-6 md:flex-row md:gap-8" id="article-content">
      <div class="custom-prose">
        <slot />
      </div>
      <div class="space-y-4 top-5 h-fit md:sticky md:w-3/12" id="toc">
        <div class="space-y-2">
          {
            headings && headings.length > 0 && (
              <>
                <h4 class="text-black">Contents</h4>
                <TOC headings={headings} />
              </>
            )
          }
        </div>
        <div class="space-y-2">
          <h4 class="text-black">Share</h4>
          <div class="flex justify-start gap-2">
            {
              socials.map((social) => (
                <a
                  href={getSocialShareLinks({ url: url, title: blogTitle })[social.name]}
                  target="_blank"
                  class="flex h-10 w-10 items-center justify-center rounded-full bg-[#F6F6F6] shadow-[0px_2px_2.5px_0px_#00000033]"
                >
                  <label class="sr-only">{social.name}</label>
                  <Image
                    src={social.icon}
                    alt={social.name}
                    class="w-4 h-4"
                    width={16}
                    height={16}
                  />
                </a>
              ))
            }
            <BtnClipBoard url={url} client:load />
          </div>
        </div>
      </div>
    </div>
    <div class="mt-6 space-y-3 md:space-y-4">
      <h2 class="font-bold">Recomendations</h2>
      <div class="flex flex-col md:flex-row">
        {
          recommendations.map(({ data, slug }, idx) => (
            <div
              class={cn('w-full py-3 md:w-1/2', {
                'md:pr-4': idx === 0,
                'md:pl-4': idx === 1,
              })}
            >
              <BlogCard {...data} slug={slug} />
            </div>
          ))
        }
      </div>
    </div>
  </Section>
  <TalkToUs text="Ready to go from idea to MVP?" />
</MainLayout>
<script>
  import { setupButtonTracking } from '../utils/mixpanel';
  setupButtonTracking({
    pageName: 'BlogPage',
  });

  window.addEventListener('scroll', () => {
    const sections = document.querySelectorAll('#article-content section');

    let prevHighlightedLink = document.querySelector('#toc li a.underline');

    sections.forEach((section) => {
      const rect = section.getBoundingClientRect();
      const isSectionHeadingOnTop = rect.top >= 0 && rect.top <= 200;

      if (isSectionHeadingOnTop) {
        const heading = section.querySelector('h2, h3, h4, h5');
        const id = heading.getAttribute('id');
        const link = document.querySelector(`#toc li a[href="#${id}"]`);

        if (prevHighlightedLink) {
          prevHighlightedLink.classList.remove('underline');
        }

        link.classList.add('underline');

        prevHighlightedLink = link;
      }
    });
  });
</script>
