---
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import '../styles/global.css';
import TalkToUs from '../components/talk-to-us.astro';
import { BOOK_CALL } from '@/constants.ts';
import Section from '@/components/section.astro';
import { Image } from 'astro:assets';
import TOC from '@/components/blog/TOC.astro';
import { getCollection } from 'astro:content';
import ReadMoreCard from '@/components/read-more-card.astro';
const { caseStudy } = Astro.props;

const {
  data: { cstitle, csdescription, csimage, csmptag, cstags, cslivelink },
  slug,
  headings,
} = caseStudy;
const canonical = `https://creworklabs.com/case-studies/${slug}`;
const og_image = csimage.src || '/opengraph.png';

const casestudies = await getCollection('casestudy');
const rds = casestudies.filter(({ data, slug: caseStudySlug }) => {
  const isSameCategory = data.cstags.some((category: any) => cstags.includes(category));
  return isSameCategory && caseStudySlug !== slug;
});
const recommendations =
  rds.length >= 2
    ? rds.slice(0, 2)
    : casestudies.filter(({ slug: caseStudySlug }) => slug !== caseStudySlug).slice(0, 2);
---

<html lang="en" class="scroll-smooth">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KSN3EWDFTD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-KSN3EWDFTD');
    </script>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={csdescription} />
    <link rel="canonical" href={canonical} />
    <title>
      {cstitle}
    </title>

    <meta property="og:title" content={cstitle} />
    <meta property="og:description" content={csdescription} />
    <meta property="og:image" content={og_image} />
    <meta property="og:url" content={canonical} />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={cstitle} />
    <meta name="twitter:description" content={csdescription} />
    <meta name="twitter:image" content={og_image} />

    <script src="reb2b.js"></script>
  </head>
  <body>
    <Header />
    <main class="relative">
      <section
        class="relative -z-10 mx-auto h-12 w-10/12 max-w-5xl border-x border-[#F1F1F1] sm:px-16 lg:w-9/12"
      >
      </section>
      <Section className="section-container relative border-b-0" data-case-study={csmptag}>
        <header class="space-y-6">
          <h1 class="text-balance text-center font-semibold">{cstitle}</h1>
          <Image
            src={csimage.src}
            alt={csimage.alt}
            width="1200"
            height="600"
            format="avif"
            quality={80}
            class="aspect-video w-full rounded-xl border object-cover object-top"
          />
        </header>
        <div class="relative mt-6 flex flex-col-reverse gap-8 md:flex-row" id="case-content">
          <div class="custom-prose">
            <slot />
          </div>
          <div
            data-btntype="book call - table of content"
            class="top-5 h-fit space-y-4 md:sticky md:w-4/12"
            id="toc"
          >
            {
              headings && headings.length > 0 && (
                <>
                  <h4 class="text-black">Table of Content</h4>
                  <TOC headings={headings} />
                </>
              )
            }
            <h4 class="text-xl text-black">Have a project?</h4>
            <a href={BOOK_CALL} target="_blank" class="btn block w-fit text-balance text-center"
              ><span class="text-sm">Book a free discovery call</span></a
            >
          </div>
        </div>
        <div class="mt-12 space-y-6">
          <h2 class="font-bold">Read some more of our amazing projects</h2>
          <div class="flex flex-col gap-4 md:flex-row md:gap-16">
            {
              recommendations.map(
                ({
                  data: {
                    cstitle,
                    csdescription,
                    csimage: { src, alt },
                  },
                  slug,
                }) => (
                  <ReadMoreCard
                    title={cstitle}
                    description={csdescription}
                    src={src}
                    alt={alt}
                    link={`/case-studies/${slug}`}
                  />
                ),
              )
            }
          </div>
          <a href="/case-studies" class="btn mx-auto block w-fit md:px-16">View All Case Studies</a>
        </div>
      </Section>
      <TalkToUs />
    </main>
    <Footer />
  </body>

  <script>
    import { setupButtonTracking } from '../utils/mixpanel';
    setupButtonTracking({
      pageName: 'CaseStudyPage',
    });

    window.addEventListener('scroll', () => {
      const sections = document.querySelectorAll('#case-content section');

      let prevHighlightedLink = document.querySelector('#toc li a.underline');

      sections.forEach((section) => {
        const rect = section.getBoundingClientRect();
        const isSectionHeadingOnTop = rect.top >= 0 && rect.top <= 200;

        if (isSectionHeadingOnTop) {
          const heading = section.querySelector('h2, h3, h4, h5');
          const id = heading.getAttribute('id');
          const link = document.querySelector(`#toc li a[href="#${id}"]`);

          if (prevHighlightedLink) {
            prevHighlightedLink.classList.remove('underline');
          }

          link.classList.add('underline');

          prevHighlightedLink = link;
        }
      });
    });
  </script>
</html>
