---
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import '../styles/global.css';
const { title, description, canonical } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="canonical" href={canonical} />
    <title>
      {title}
    </title>

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/opengraph.png" />
    <meta property="og:url" content={canonical} />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/opengraph.png" />
  </head>
  <body>
    <Header />
    <main class="relative">
      <section
        class="relative -z-10 mx-auto h-40 w-10/12 max-w-5xl border-x border-[#F1F1F1] sm:px-16 lg:w-9/12"
      >
      </section>
      <slot />
    </main>
    <Footer />
  </body>
</html>
